/*--------------- NavBar */

.nav-padding-lg {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    text-align: right;
}

.nav-btn-align {
    float: right;
}
/*--------------- Headers */

.page-header {
    display: block;
    text-align: center;
}


/*--------------- Buttons */

.btn-center {
    display: inline-block;
    text-align: center;
}

/*--------------- Callouts */

.container-medium {
    height: 500px;
}

.row-small {
    height: 60%;
}

.row-lg {
    height: 80%;
}

.container-callout-medium {
    height: 60vh;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    align-items: center;
    /*justify-content: center;*/
    /*position: relative;*/
}

.container-callout-light {
   background-color: aqua;
}


/*--------------- Top Callout */

.container-topcallout {
    height: 95vh;
    background-color: aqua;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: relative;
}

/*--------------- Benefits Callout (2nd large row) */

.container-benefitscallout {
    height: 60vh;
    background-color: teal;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: relative;
}

/*--------------- Facts Callout (3rd large row) */

.container-factscallout {
    height: 60vh;
    background-color: aqua;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: relative;
}

/*--------------- Experience Callout (4th large row) */

.container-experiencecallout {
    height: 60vh;
    background-color: teal;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: relative;
}



/*--------------- Media Queries */

@media only screen and (min-width: 768px) {
    .nav-padding-lg {
        padding-left: 5px;
        padding-right: 5px;
    }
}


/*-- Markup --*/

.redbox {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: red;
}