/*--------------- Fonts and Colours */

body {
    color: #d8fce6;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

a.navbar-brand, .navbar-light, .navbar-nav, .nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #fff !important;
}

a.navbar-brand, a:link.navbar-brand, a:visited.navbar-brand, a:hover.navbar-brand, a:active.navbar-brand {
    font-weight: 500;
}

a:hover.navbar-brand {
    font-weight: 700;
}

.btn-outline-success {
    color: #fff;
}

/*--------------- NavBar */

.nav-padding-lg {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    text-align: center;
}

.nav-btn-align {
    float: right;
}

.navbar-toggler {
    border-color: #fff !important;
}

/*Next block of code taken from https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color*/
#custom-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light {
    background-color: rgba(216, 252, 320, 0.05) !important;
}

.nav-item {
    background-color: rgba(112, 135, 129, 0.8) !important;
}


/*--------------- Headers */

.page-heading {
    display: block;
    text-align: center;
}


/*--------------- Text alignment */

/*--------------- Text decoration */

/*--------------- Buttons */

.btn-outline-success {
    background-color: rgba(216, 252, 320, 0.4);
    border-radius: 25px;
    padding-right: 15px;
    border-color: transparent;
}

.btn-outline-success:hover {
    background-color: transparent;
    border-color: #fff;
    border-radius: 25px;
    padding-right: 15px;
}

.btn-success:hover {
    background-color: rgba(216, 252, 320, 0.4);
    border-radius: 25px;
    padding-right: 15px;
    border-color: transparent;
}

.btn-success {
    background-color: transparent;
    border-color: #fff;
    border-radius: 25px;
    padding-right: 15px;
}

#btn--footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn--social-icons {
    color: white;
    font-size: 3em;
}

/*--------------- Containers */

.container-large-top {
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
}

.container-large-top::after {
    /*Pseudo element for bg opacity code used from https://css-tricks.com/snippets/css/transparent-background-images/ */
    /*Edited the above to add background position, repeat and size.*/
  content: "";
  background: url(../images/dandelion.png);
  opacity: 0.7;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.container-large {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-first-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/discussion.jpg') no-repeat bottom right fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-second-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/meditatingoutside2.jpg') no-repeat bottom right fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-third-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/payingattention.jpg') no-repeat bottom right fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.container-wide {
    padding-left: 50px;
    padding-right: 50px;
}

/*.container-small {*/
/*    height: 150px;*/
/*}*/

/*.row-large {*/
/*    height: 60%;*/
/*}*/



.container-callout-light {
    background-color: aqua;
}

.container-callout-dark {
        background-color: #335544;
}


/*--------------- Content Boxes */

.infobox-light {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightcyan;
}




.footer-item {
    display: inline;
}


/*--------------- Social */




/*--------------- Forms */






/*--------------- Media Queries */

@media only screen and (min-width: 768px) {
    .nav-padding-lg {
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-left {
        text-align: left;
    }

    .form-email-wide {
        width: 400px;

    }
    


}

@media only screen and (min-width: 992px) {


.container-large-top {
    padding-top: 110px;
    padding-bottom: 230px;
}

.nav-link {
    text-align: right;
}

.nav-item {
    background-color: rgba(216, 252, 320, 0.0) !important;
}

}

/*-- Markup --*/

.redbox {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: red;
}
