/*--------------- Fonts and Colours */

body {
    color: #d8fce6;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #fff !important;
}

/*--------------- NavBar */

.nav-padding-lg {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    text-align: center;
}

.nav-btn-align {
    float: right;
}



.navbar-light {
    background-color: rgba(216, 252, 320, 0.05) !important;
}

.nav-item {
    background-color: rgba(112, 135, 129, 0.8) !important;
}

/*--------------- Headers */

.page-heading {
    display: block;
    text-align: center;
}






/*--------------- Containers */

.container-large-top {
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
}

.container-large-top::after {
    /*Pseudo element for bg opacity code used from https://css-tricks.com/snippets/css/transparent-background-images/ */
    /*Edited the above to add background position, repeat and size.*/
  content: "";
  background: url(../images/dandelion.png);
  opacity: 0.7;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.container-large {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-first-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/discussion.jpg') no-repeat bottom right fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-second-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/meditatingoutside2.jpg') no-repeat bottom right fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-third-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../images/payingattention.jpg') no-repeat bottom right fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.container-wide {
    padding-left: 50px;
    padding-right: 50px;
}

/*.container-small {*/
/*    height: 150px;*/
/*}*/

/*.row-large {*/
/*    height: 60%;*/
/*}*/



.container-callout-light {
    background-color: aqua;
}

.container-callout-dark {
    background-color: turquoise;
}


/*--------------- Content Boxes */

.infobox-light {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightcyan;
}




.footer-item {
    display: inline;
}

/*--------------- Text alignment */

/*--------------- Text decoration */

/*--------------- Buttons */

/*--------------- Social */




/*--------------- Forms */






/*--------------- Media Queries */

@media only screen and (min-width: 768px) {
    .nav-padding-lg {
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn-left {
        text-align: left;
    }

    .form-email-wide {
        width: 400px;

    }
    


}

@media only screen and (min-width: 992px) {


.container-large-top {
    padding-top: 330px;
    padding-bottom: 180px;
}

.nav-link {
    text-align: right;
}

.nav-item {
    background-color: rgba(216, 252, 320, 0.0) !important;
}

}

/*-- Markup --*/

.redbox {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: red;
}
